.idea
target
project/project
/project/target/
/dsh-kpn-datascience-bootstrap-exercise.ipr
/dsh-kpn-datascience-bootstrap-exercise.iws
/queuers-and-callers-processor.ipr
/queuers-and-callers-processor.iws
# vim specific
tags
*~
.*.swp
.*.swo